<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/profil.css">
  <title>Profil page</title>
</head>

<body>
  <header>
    <img class="logo_nebula" src="../assets/img/logo_nom_-_noir.png" alt="Logo BDE">
    <div>
      <p>Bonjour Sarah !</p>
      <div class="avatar"></div>
    </div>
  </header>

  <h1>Tableau de bord</h1>
  <main>
    <section class="dashboard">
      <div class="dashboard_case discord">
        <img src="../assets/img/unknown.png" alt="logo discord">
        <a href="https://discord.gg/MArBym5a">Rejoins le discord.</a>
      </div>

      <div class=" dashboard_case tree">
        <img src="../assets/img/arbre-blanc.png" alt="">
        <a href="#tree">Voir mon arbre.</a>
      </div>

      <div class="dashboard_case info">
        <img src="../assets/img/cog.png" alt="">
        <a href="">Modifier mes informations.</a>
      </div>
    </section>
    <section class="table-word">
      <h1>Section de phrase</h1>
      <table class="container">
        <thead>
          <tr>
            <th>
              <div class="h1">Phrase</div>

            </th>
            <th>
              <div class="h1">colors</div>
            </th>
          </tr>
        </thead>
        <tbody class="tbody">

        </tbody>
      </table>
    </section>
    <section class="dashboard">
      <!-- <div class="dashboard_case little_cases"> -->
        <div class="dashboard_case ext">
          <a href="https://hetic-planning.oxymis.fr/hp/" target="_blank">Extranet</a>
        </div>
        <div class="dashboard_case ext">
          <a href="https://learn.hetic.net/?new_loc=%2Fultra%2Fcourse" target="_blank">Blackboard</a>
        </div>
      <!-- </div> -->
      <div class="dashboard_case ext bde">
        <a class="" href="#bde">Site du BDE</a>
      </div>
    </section>
  </main>

  <footer>
    <p>© Copyright 2022</p>
    <a href="https://www.instagram.com/nebulabde/">
        <img class="instagram" src="/src/assets/img/instagram-icon.png" alt="logo instagram">
        <p>Instagram du BDE</p>
    </a>
</footer>

  <script type="module" src="../../app.js"></script>
  <script type="module" src="../js/profil.js"></script>
</body>

</html>