@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url("table.css");
@import url("alert.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Good_Times";
  src: url("../assets/font/good_times/good\ times\ rg.otf");
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/font/montserrat.regular.ttf");
}

html {
  font-family: Montserrat;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #f1f1f1;
}

.logo_nebula {
  height: 50px;
}

header div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.table-quote {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: Good_times;
  font-size: 24px;
  text-align: center;
  padding: 20px;
  margin-block: 20px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 30px;
}

.dashboard_case {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80vw;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
}

.dashboard_case .logo {
  height: 100px;
}

.dashboard_case a {
  font-size: 18px;
  text-decoration: none;
  text-align: end;
  color: #fff;
}

.discord {
  background: #8c9eff;
}

.tree {
  /* background: rgba(74, 156, 74, 0.89); */
  background: rgb(134, 134, 134);
  background-image: url("/src/assets/img/warning.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.tree p {
  font-size: 13px;
  color: #fff;
}

.info {
  background: rgba(226, 130, 61, 0.921);
}

.ext {
  background: #947dbf;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #f1f1f1;
  padding: 30px 20px;
  font-size: 12px;
  margin-top: 80px;
}

footer a {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #000000;
}

.instagram {
  height: 40px;
}

.quote-choise {
  width: 80%;
  margin: 0 auto;
}
/* Slideshow container */
.quote-choise .slideshow-container {
  position: relative;
  padding: 20px;
  background: #f1f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

/* Slides */
.quote-choise .mySlides {
  padding: 80px;
  text-align: center;
}

.quote-choise .btnQuote {
  border: none; /* Remove borders */
  color: white; /* Add a text color */
  padding: 14px 28px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* Add a background color to the active dot/circle */
.active,
.dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {
  font-style: italic;
}

/* Add a blue color to the author */
.author {
  color: cornflowerblue;
}

@media (min-width: 660px) {
  .dashboard {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .dashboard_case {
    width: 45%;
  }
}

@media (min-width: 900px) {
  .dashboard_case .logo {
    height: 150px;
  }

  .dashboard_case a {
    font-size: 22px;
  }

  .tree p {
    font-size: 15px;
  }
}
